pkgbase = flow-state
	pkgdesc = Focus-first desktop editor for Markdown, LaTeX, and plain text
	pkgver = 0.1.46
	pkgrel = 1
	url = https://github.com/Rohanator2314/flow-state
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = glibc
	depends = libgcc
	optdepends = hunspell-en_us: US English dictionary for spell checking
	optdepends = texlive-latex: compile the LaTeX preview (pdflatex/xelatex)
	optdepends = poppler: render the compiled PDF into the preview pane (pdftoppm)
	options = !lto
	source = flow-state-0.1.46.tar.gz::https://github.com/Rohanator2314/flow-state/archive/refs/tags/v0.1.46.tar.gz
	source = flow-state.desktop
	source = io.github.rohanator2314.flow-state.metainfo.xml
	source = flow-state-icon.png
	sha256sums = 79a417aa61886834833482a9c3b615545f23d986fc68aebce421a1eed48f8355
	sha256sums = 8b44feecd3cfd3dee9f825811e2fab13c64c3e7c4d89a2f3c555ffe7444b8e35
	sha256sums = 82cebf2fd67164e9d69727969fb86167ad85ab09527a76077dc751c274e2c747
	sha256sums = 68aa49d6b03a135ed26ce324a8709a185e9b56ba78edf07f335e233ae96ede97

pkgname = flow-state
